LOG_LEVEL=DEBUG

APP_ID=a37e783e-b7a6-443b-8d1a-9f5e51375c8e
APP_UID=python-demo-app.moysklad
APP_SECRET_KEY=example-vendor-api-secret-key
APP_ENCRYPT_KEY=example-encrypt-key-64-chars
APP_BASE_URL=https://example.com/vendor
SESSION_SECRET=example-flask-session-secret-32-chars
